//  color
$white: #FFFFFF;
$whisper: #eeeeee;
$darkGray: #a8a8a8;
$nobel: #9a9a9a;
$suvaGray: #8f8f8f;
$gray: #787878;
$dimGray: #737373;
$arsenic: #434343;
$nightRider: #323232;
$gray20: #333333;
$black: #000000;

