body {
  font-family: Baskerville, Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  max-width: 100vw;
}

section {
  width: 100vw;
  padding: 0 180px 0 100px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  justify-content: space-evenly;
  z-index: 2;
  border-bottom: 1px solid black;
}

#site-name {
  font-size: 50px;
  letter-spacing: 2px;
}

.tags {
  display: flex;
}

.tag {
  box-sizing: border-box;
  padding: 35px 40px 35px 40px;
  font-size: 13px;
  text-align: center;
  color: #010101;
  display: flex;
  transition: all 0.2s ease-in;
}

.tags a:first-child {
  border-left: 1px solid black;
}

.tag + .tag {
  border-left: 1px solid black;
}

.tag:hover {
  background: black;
  color: white;
}

body h1 {
  padding: 150px 0px 50px 0px;
  text-align: center;
  font-size: 76px;
  letter-spacing: 1px;
  font-weight: 100;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.form__editor h2 {
  text-align: left;
  font-size: 20px;
}

.text {
  width: 100%;
  margin: auto;
}

main {
  width: 77%;
  margin: 0 auto;
}

form {
  height: auto;
  padding: 30px 0 10px 0;
  margin: 30px 0px;
  text-align: right;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.form__title,
.form__editor,
.form__submit {
  max-width: 800px;
  margin: 23px auto;
}

.form__title input {
  font-family: Baskerville, Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(223, 220, 220);
  border-radius: 3px;
  margin: 10px 0 10px 0;
}

.submit__btn {
  border: 1px solid black;
  width: 200px;
  height: 60px;
  border-radius: 1px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: Baskerville, Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

footer {
  background-color: black;
}

p {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 70px;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid black;
}
